
* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif
}
body {
    overflow-x:hidden;
    padding:0;
    margin:0;
}
/*left side of header*/
header {
    padding:2% ;
    display: flex;
    justify-content: space-between;
    color: rgb(77, 0, 77);
    background-image:url("./images/bg-pattern-top-desktop.svg") ;
    background-size: cover;
    background-repeat: no-repeat;
}
h1 {
    font-size: 350%;
    font-weight: 800;
    line-height: 50px;
}
#left {
    width: 45%;
}
#left p{
    font-size: large;
    width: 80%;
    line-height: 1.5rem;
}
/*ratings*/
#right {
    align-self: center;
    width:45%;
    display: flex;
    flex-direction: column;
}
.rating {
    background-color: rgba(116, 0, 116, 0.1);
    margin: 1%;
    padding: 1% 2% ;
    width:65%;
    border-radius: 10px;
    font-weight: bolder;
    display:flex;
    align-items: center;
}
.stars{
    margin-right:2%;
}
i {
    color: rgb(239, 184, 44);
}
#first{
align-self: flex-start;
}
#second{
align-self: center;
margin-right:20%;
}
#third{
align-self: flex-end;
margin-right: 20%;
}
/*TESTIMONIAL STYLES*/
main {
    display: flex;
    height: 50vh;
    width: 100%;
    margin-left: -2%;
    background-image:url("./images/bg-pattern-bottom-desktop.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;

}
img{
    float: left;
    border-radius: 50%;
    height:60px;
    width: 60px;
    margin-right: 5%;
    margin-top: 5%;
}
.testimonials{
    background-color: rgb(77, 0, 77);
    color: white;
    margin:2%;
    padding: 1% 2% 2% 2%;
    border-radius: 10px;
    height:220px;
}
.testimonials h3{
 color: rgb(201, 51, 163);
 margin-top: -5%;
}
p{
    font-size: 15px;
    line-height: 1.5rem;
}
#A {
align-self: flex-start;
}
#B {
align-self: center;
}
#C {
align-self: flex-end;
}

@media(max-width: 650px){
    body{
        overflow-x:hidden;
    }
    header {
      flex-direction:column;
      background-image: url('./images/bg-pattern-top-mobile.svg');
      background-size: contain;
    }
    #left {
        width: 100%;
        text-align:center;
        align-items: center;
    }
    #header-paragraph{
       padding-left:15%;
    }
    #right {
        width:100%;
        align-items: center;
    }
    #bottom {
        flex-direction:column;
        background-image: url('./images/bg-pattern-bottom-mobile.svg');
        background-size: contain;
    }
    #first{
        align-self: center;
        }
        #second{
        align-self: center;
        margin-right:0;
        }
        #third{
        align-self: center;
        margin-right:0;
        }
        .rating{
            flex-direction:column;
            width:90%;
            margin: 1% 0;
            text-align:center;
        }
}